
.mobile .media-viewer footer,.mobile .media-viewer header{
	left:0;
	position:fixed;
	right:0;
	top:0;
	z-index:2
}
.mobile .media-viewer footer{
	bottom:0;
	top:auto
}
.mobile .download-page .media-viewer .img-wrap{
	background:#fff
}
.mobile .download-page .media-viewer footer,.mobile .download-page .media-viewer header{
	display:none
}
.mobile .download-page .fullscreen .media-viewer footer,.mobile .download-page .fullscreen .media-viewer header{
	display:flex
}
.mobile .download-page.image .fullscreen .viewer-bars{
	background:#fff;
	opacity:1;
	visibility:visible
}
.mobile .media-viewer .viewer-bars:not(.video-controls) .bar{
	flex:1 1 0;
	padding:0
}
.mobile .slideshow-image-previewer .media-viewer header .viewer-bars .bar{
	flex:0 0 0
}
.mobile .media-viewer .bar.menu{
	justify-content:flex-end
}
.mobile .media-viewer .zoom-slider-wrap{
	flex:3 1 0
}
.mobile .download-page .media-viewer .zoom-slider-wrap{
	padding:12px 0
}
.mobile .media-viewer .zoom-slider-wrap button{
	margin:6px
}
.mobile .media-viewer .ui-slider.ui-widget-content{
	max-width:160px;
	min-width:48px;
	width:100%
}
.mobile .media-viewer button.gallery-btn{
	background-color:rgba(0, 0, 0, .6);
	background-image:url(../imagery/mobile-mobile-sprite.62fc52848a605edd.png);
	background-position:-148px -1897px;
	background-repeat:no-repeat;
	border-radius:0;
	height:37px;
	left:0;
	margin:-18px 0 0;
	position:absolute;
	top:50%;
	width:36px;
	z-index:10
}
.mobile .media-viewer button.gallery-btn.next{
	background-position:-205px -1897px;
	left:auto;
	right:0
}
.mobile .media-viewer .file-info{
	display:inline-block;
	text-align:start;
	vertical-align:middle
}
.mobile .media-viewer .file-name{
	color:#222;
	display:block;
	font-size:20px;
	line-height:25px;
	margin:0;
	max-width:233px;
	overflow:hidden;
	padding:0;
	text-overflow:ellipsis;
	vertical-align:middle;
	white-space:nowrap
}
.mobile .media-viewer .counter{
	background:none;
	color:#a7a7a7;
	font-size:14px;
	line-height:25px;
	padding:0
}
.mobile .media-viewer .bar>li>button{
	margin:0;
	padding:18px
}
.mobile .download-page .media-viewer .bar>li>button.download{
	display:none
}
.mobile .media-viewer .bar>li>button.delete-button{
	background-position:-194px -1817px;
	height:60px;
	width:60px
}
.mobile .media-viewer .viewer-bars:not(.video-controls):not(.slideshow-controls){
	background:#fff;
	padding:0;
	position:static
}
.mobile .media-viewer .video-controls{
	padding:6px 8px;
	position:static
}
.mobile .media-viewer .video-controls .video-progress-block{
	padding:11px
}
.mobile .media-viewer .video-controls .bar>li{
	height:auto;
	width:auto
}
.mobile .media-viewer .video-controls button.v-btn{
	--mask-color:#fff;
	margin:6px;
	padding:0
}
.mobile .media-viewer .image-controls{
	background:#fff
}
.mobile .media-viewer .slideshow-controls button i{
	--mask-color:#fff
}
.mobile .video-theatre-mode .media-viewer header .viewer-bars{
	background:var(--surface-grey-2)
}
.mobile .media-viewer .video-block video{
	background-position:50%;
	background-repeat:no-repeat;
	background-size:contain;
	border-radius:3px;
	height:100%;
	max-height:100vh;
	width:100%
}
