[Desktop Entry]
Type=Application
Name=GNOME Keyring SSH Agent
Comment=GNOME Keyring: SSH Component
Exec=/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh
OnlyShowIn=GNOME;Unity;MATE;Cinnamon;
NoDisplay=true
X-GNOME-Autostart-Phase=PreDisplayServer
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
