[Desktop Entry]
Encoding=UTF-8
Exec=xdg-user-dirs-gtk-update
Terminal=false
OnlyShowIn=GNOME;LXDE;Unity;MATE;XFCE;
NoDisplay=true
Type=Application
StartupNotify=false
X-KDE-autostart-after=panel
