*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font: 13px Arial, Helvetica, sans-serif;
    height: 130px;
    width: 550px;
    padding: 15px;
}

/** MAIN ENGINES **/
#main{
    margin-left: 15px;
}
#main > li{
    float: left;
    margin: 0px;
    padding: 0px;
    list-style:none;
    padding: 7px 7px 5px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    cursor: pointer;
}
#main > li.selMainTab{
    border-color: #CCCCCC;
    background: #FFFFFF;
    border-radius: 5px 5px 0 0;
}
#main li img{
    opacity: 0;
    height: 16px;
}

/** SUB ENGINES **/
.subWrap{
    position: absolute;
    width: 800px;
    top: 90px;
    left: 25px;
    margin: 0px;
    padding: 0px;
}
.subWrap li{
    float: left;
    margin: 0px;
    padding: 5px 7.5px;
    list-style:none;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.subWrap .selSubTab{
    border-color: #CCCCCC;
    border-radius: 0 0 5px 5px;
}

/** SEARCH BOX **/
.searchBoxWrap{
    position: absolute;
    top: 45px;
    left: 15px;
    right: 15px;
}
.searchBox{
    color: #000000;
    padding: 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #CCCCCC;
    font-size: 20px;
    border-radius: 5px;
    padding-right: 35px;
    width: 100%;
    margin: 0px;
}
.searchBox:focus{
    outline:none;
    box-shadow:0 0 5px #ffcc00;
    border-color: #E8B900;
    transition: border linear .2s, box-shadow linear 0.8s;
}

#searchBtn{
    position: absolute;
    right: 15px;
    top: 50%;
    opacity: 0.5;
    cursor: pointer;
    transform: translateY(-50%);
}
#searchBtn:hover{
    opacity: 0.7;
}

.optionsPage{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.2;
}
.optionsPage:hover{
    opacity: 1;
}


/** THEMES **/
body.dark-theme{
    background: #000;
    color: #f7f7f7;
}
.dark-theme #searchBox{
    background: #000;
    color: #fff;
}
.dark-theme #main > li.selMainTab {
    background: #333;
}

/** COMMON STYLES **/
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}