[Unit]
Description=Early OOM Daemon
After=network.target

[Service]
ExecStart=/usr/bin/earlyoom -m 35 -s 35 -r 60 -p -d -n --sort-by-rss --avoid '(^|/)(init|X|wayland|wayfire|sshd|systemd)$'
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
