[Desktop Entry]
Version=1.0
Name=Drive
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="web-google-drive" firefox-nightly --class WebApp-Drive3951 --name WebApp-Drive3951 --profile /home/andro/.local/share/ice/firefox/Drive3951 --no-remote --disable-extensions --start-maximized --disable-gpu --disable-infobars --kiosk "https://drive.google.com"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=web-google-drive
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Drive3951
StartupNotify=true
X-WebApp-Browser=Firefox Nightly
X-WebApp-URL=https://drive.google.com
X-WebApp-CustomParameters=--disable-extensions --start-maximized --disable-gpu --disable-infobars --kiosk
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

