[Desktop Entry]
Version=1.0
Name=Discord
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="discord" firefox-nightly --class WebApp-Discord8417 --name WebApp-Discord8417 --profile /home/andro/.local/share/ice/firefox/Discord8417 --no-remote "https://discord.com/login"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=discord
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Discord8417
StartupNotify=true
X-WebApp-Browser=Firefox Nightly
X-WebApp-URL=https://discord.com/login
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
